/* use Charis SIL - Regular in .woff format */
@font-face {
  font-family: CharisSILW;
  src: url(../fonts/CharisSIL-5.000-web/CharisSIL-R.woff);
}
/* use Charis SIL - Italic in .woff format */
@font-face {
  font-family: CharisSILW;
  font-style: italic;
  src: url(../fonts/CharisSIL-5.000-web/CharisSIL-I.woff);
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
  src: url(../fonts/CharisSIL-5.000-web/CharisSIL-B.woff);
}

@font-face {
	font-family: CharisSILW;
	font-weight: bold;
	font-style: italic;
  src: url(../fonts/CharisSIL-5.000-web/CharisSIL-BI.woff);
}

@import "bootstrap.min.css"
@import "base.styl"
@import "article.styl"